<div class="menu">
  <h5>メニュー</h5>
  <ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
      <a href="<%= user_path(user) %>" class="nav-link <%= 'active' if current_page?(user_path(user)) %>">投稿  <span class="badge badge-dark"><%= @count_posts %></span></a>
    </li>
    <li class="nav-item">
      <a href="<%= followings_user_path(user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(user)) %>">フォロー  <span class="badge badge-dark"><%= @count_followings %></span></a>
    </li>
    <li class="nav-item">
      <a href="<%= followers_user_path(user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(user)) %>">フォロワー  <span class="badge badge-dark"><%= @count_followers %></span></a>
    </li>
    <li class="nav-item">
      <a href="<%= likes_user_path(user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(user)) %>">いいね  <span class="badge badge-dark"><%= @count_favorites %></span></a>
    </li>
    <li class="nav-item">
      <a href="<%= categories_user_path(user) %>" class="nav-link <%= 'active' if current_page?(categories_user_path(user)) %>">カテゴリー  <span class="badge badge-dark"><%= @count_categories %></span></a>
    </li>
  </ul>
</div>