<div class="text-center">
  <% if current_user == @user %>
    <h1><i class="fas fa-user-circle"></i>  <%= @user.name %>のマイページ</h1>
  <% else %>
    <h1><i class="fas fa-user-circle"></i>  ユーザーページ</h1>
  <% end %>  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <div class="column flex-direction:row">    
          <div class="card-body">
            <% if @user.image? %>
              <%= image_tag @user.image.to_s, class: "card-img-top" %>
            <% else %>  
              <%= image_tag "/assets/defaultuser.png", class: "card-img-top" %>
            <% end %>
          </div> 
          <div class="card-footer">
            <h5 class="card-title"><%= @user.name %> </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-md-1 col-md-8" >
      <div class="card">
        <div class="column flex-direction:row">
          <div class="card-header">    
            <h5 class="card-title"><i class="far fa-id-card"></i> 自己紹介、プロフィール<h5>
          </div>
          <div class="card-body">
            <h6 class="card-text"><%= @user.profile.gsub(/\r\n|\r|\n/, "<br>") %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
  </div>
</div>  

<% unless current_user == @user %>
<p>フォローする<p>
<% end %>

<% if current_user == @user %>
  <p><%= link_to 'プロフィール編集', edit_user_path(@user) %></p>
  <p><%= link_to '退会する', user_path, method: :delete, data: { confirm: "本当に退会してもよろしいですか？" } %></p>
<% end %>  