<div class="text-center">
  <h1>投稿ページ<h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 10rem;">
        <div class="column flex-direction:row">    
          <div class="card-body">
            <% if @post.image? %>
              <%= image_tag @post.image.to_s, class: "card-img-top" %>
            <% else %>  
              <%= image_tag "/assets/defaultpost.png", class: "card-img-top" %>
            <% end %>
          </div> 
        </div>
      </div>
    </div>
    
    <div class="col-md-6" >
      <div class="card">
        <div class="column flex-direction:row">
          <div class="card-body">
            <h6 class="card-text"><%= @post.title %></h6>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="card" style="width: 10rem;">
        <div class="column flex-direction:row">    
          <div class="card-body">
            <% if @post.user.image? %>
              <%= image_tag @post.user.image.to_s, class: "card-img-top" %>
            <% else %>  
              <%= image_tag "/assets/defaultuser.png", class: "card-img-top" %>
            <% end %>
          </div> 
          <div class="card-footer">
            <h5 class="card-title"><%= @post.user.name %> </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user == @post.user %>
  <%= link_to '編集', edit_post_path(@post), type: "button", class: "btn btn-success" %>
  <%= link_to '削除', post_path, method: :delete, data: { confirm: "本当に削除してもよろしいですか？" }, type: "button", class: "btn btn-danger" %>
<% end %>  

<%= @post.content %>